<a href="https://colab.research.google.com/github/fillerInk/ml-with-projects/blob/main/1_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv('sample_data/california_housing_train.csv')
test = pd.read_csv('sample_data/california_housing_test.csv')

In [12]:
train.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [4]:
x_train = train.drop('median_house_value',axis=1)

In [5]:
y_train = train.median_house_value

In [6]:
x_train.head()

   longitude  latitude  ...  households  median_income
0    -114.31     34.19  ...       472.0         1.4936
1    -114.47     34.40  ...       463.0         1.8200
2    -114.56     33.69  ...       117.0         1.6509
3    -114.57     33.64  ...       226.0         3.1917
4    -114.57     33.57  ...       262.0         1.9250

[5 rows x 8 columns]

In [7]:
y_train.head()

0    66900.0
1    80100.0
2    85700.0
3    73400.0
4    65500.0
Name: median_house_value, dtype: float64

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model = LinearRegression()

In [10]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
model.score(x_train,y_train)

0.6413378529502689